/* 
   #box
   ========================================================================== */

/**
 * The box object is used to box off content from the rest of the page.
 *
 * Usage:
 *
 * <div class="o-box">
 *
 * </div>
 */

.o-box {
	display: block;
	padding: 1.5rem;
}

	.o-box > :last-child {
		margin-bottom: 0;
	}

/* 
   #box--xs
   ========================================================================== */

.o-box--xs {
	padding: .375rem;
}

/* 
   #box--s
   ========================================================================== */

.o-box--s {
	padding: .75rem;
}

/* 
   #box--l
   ========================================================================== */

.o-box--l {
	padding: 3rem;
}

/* 
   #box--xl
   ========================================================================== */

.o-box--xl {
	padding: 6rem;
}

/* 
   #box--flush
   ========================================================================== */

.o-box--flush {
	padding: 0;
}
