/* 
   #dock
   ========================================================================== */

/**
 * The dock object snaps content to a side of the page.
 *
 * Usage:
 *
 * <div class="o-dock">
 *
 * </div>
 */

.o-dock {
	position: fixed;
	z-index: 1;
}

/* 
   #dock--t
   ========================================================================== */

/**
 * Dock to the top.
 */

.o-dock--t { 
	width: 100%; 
	top: 0; 
}

/* 
   #dock--b
   ========================================================================== */

/**
 * Dock to the bottom.
 */

.o-dock--b { 
	width: 100%; 
	bottom: 0; 
}

/* 
   #dock--l
   ========================================================================== */

/**
 * Dock to the left.
 */

.o-dock--l { 
	height: 100%; 
	left: 0; 
}

/* 
   #dock--r
   ========================================================================== */

/**
 * Dock to the right.
 */
 
.o-dock--r { 
	height: 100%; 
	right: 0; 
}