/* 
   #tiles
   ========================================================================== */

/**
 * The tiles object creates tiled navigation lists that can wrap columns.
 *
 * Usage:
 *
 * <ul class="o-tiles">
 *     <li><a href="#"></a></li>
 *     <li><a href="#"></a></li>
 *     <li><a href="#"></a></li>
 * </ul>
 */

.o-tiles {
	margin: 0;
	padding: 0;
	list-style: none;
}

.o-tiles > li {
	width: 100%;
}

@media (min-width: 35.5em) {
	.o-tiles > li {
		float: left;
	}
}

/* 
   #tiles--2
   ========================================================================== */

@media (min-width: 35.5em) {
	.o-tiles--2 > li { 
		width: 50%; 
	}
}

/* 
   #tiles--3
   ========================================================================== */

@media (min-width: 35.5em) {
	.o-tiles--3 > li { 
		width: 50%; 
	}
}

@media (min-width: 48em) {
	.o-tiles--3 > li { 
		width: 33.3%; 
	}
}
