/* 
   #lead
   ========================================================================== */

/**
 * The hero utility provides a class to create hero headings.
 */

 .u-hero {
	font-family: 'Bitter', sans-serif; 	
    font-size: 3.875em;
	letter-spacing: -2px;
    line-height: 1.03226;
}